body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin-top: 100px;
}

p {
    font-size: 24px;
    margin-top: 20px;
}

.social-links {
    margin-top: 50px;
}

.social-link {
    display: inline-block;
    margin: 10px;
}

.social-link a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.social-link a:hover {
    background-color: #fff;
    color: #222;
}
